#mainNav{
    background-color: var(--bs-dark);
}
body{
    margin-top: 95px;
}

.sv-btn{
    margin: 20px auto;
    display: flex;
}

.sv-btn a{
    margin: 0 auto;
}
.sv-items>.sv-tittle{
    background-color: var(--bs-primary);
    line-height: 3rem;
    margin-bottom: 20px;
    padding: 1rem;
}
.sv-items{
    margin-bottom: 70px;
}


/* Q&A page */


.faq-label {
    cursor: pointer;
    width: 100%;
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 19px;
    background: #d0edf0;
    box-shadow:  5px 5px 10px #b7d1d3,
                -5px -5px 10px #e9ffff;
}

.faq-label-text {
    color: #365A5E;

}

.faq-label-icon {
    padding: 2px 3px;
    background: #d0edf0;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.material-icons {
    color: #365A5E;
    transition: 0.3s ease;
}

.faq-answer {
    transition: 0.3s ease;
    margin-top: 15px;
    height: 0;
    border-radius: 6px;
    color: rgba(127, 121, 121, 1);
    overflow: hidden;

}

.faq-answer-content {
    padding: 10px 0 10px 15px;
  

}

.active {

    background: #FFFFFF;
    border: 1px solid #C7C4C4;
    
    height: auto;
    margin-bottom: 25px;

}
.rotate{
    transform: rotate(180deg)
}


